<div class="photo-preview">
  <div class="image-header">
    <div class="image-title">
      <button class="image-action-btn" (click)="close()">
        <i class="fa fa-chevron-left" aria-hidden="true"> </i>
      </button>
      <small> {{ file.key }}</small>
    </div>
    <div class="image-actions">
      <button class="image-action-btn"><i class="fa fa-download"></i></button>
      <button class="image-action-btn"><i class="fa fa-share-alt"></i></button>
      <button class="image-action-btn"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="photo-container">
    <div class="m-3">
      <img
        *ngIf="
          file.fileType && ['jpg', 'png', 'jpeg', 'gif'].includes(file.fileType)
        "
        width="100%"
        height="parent"
        src="{{ dataUrl }}"
        alt=""
      />
      <ngx-doc-viewer
        *ngIf="file.fileType && ['pdf', 'pptx'].includes(file.fileType)"
        style="width: 80vh; height: 80vh"
        url="{{ dataUrl }}"
        [viewer]="'url'"
        loaded
      >
      </ngx-doc-viewer>
      <ngx-doc-viewer
        *ngIf="file.fileType && ['doc', 'docx'].includes(file.fileType)"
        style="width: 80vh; height: 80vh"
        url="{{ dataUrl }}"
        [viewer]="'google'"
        loaded
      >
      </ngx-doc-viewer>
      <!-- <ngx-doc-viewer
        style="width: 80vh; height: 80vh"
        url="{{ dataUrl }}"
        [viewer]="'url'"
        loaded
      >
      </ngx-doc-viewer> -->
    </div>
  </div>
</div>
